<div class="row m70">
    <div class='col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1'>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">

            <div class='row pb15'>
                <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                    <div class="panel">
                        <div class="panel-body">
                            <div class='row pb15'>
                                <div class='col-lg-5'>
                                    <%= avatar_for(@user, size: 100, id: "upload_preview") %>
                                    <%#= react_component 'App' %>
                                </div>
                                <div class='col-lg-7'>
                                    <p><%= @user.full_name %></p>                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class='row pb15'>
                <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                    
                    <%= react_component 'WorkExperienceContainer' %>
                                   
                </div>
            </div>

            <div class='row pb15'>
                <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                    <%= react_component 'EducationsContainer' %>           
                </div>
            </div>
            
            <div class='row pb15'>
                <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                    <div class='panel'>
                    <div class="panel-heading"><h5>Skills</h5></div>
                        <%= react_component 'UserSkills' %>
                    </div>                
                </div>
            </div>

        </div>
        <div class='col-lg-4 col-md-4 col-sm-4 col-xs-4'>
            <div class='row pb15'>
                <div class='panel'>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
		function readURL(input) {
	    if (input.files && input.files[0]) {
	      var reader = new FileReader();

	      reader.onload = function (e) {
	      	$('#upload_preview').attr('src', e.target.result);
	      }

	      reader.readAsDataURL(input.files[0]);
	    }
		}

		$("#avatar_file_field").change(function(){
			readURL(this);
		});

		$("#remove-avatar").on('click', function (e) {
			e.preventDefault();
			$.ajax({
				url: '#{api_delete_avatar_path}',
				method: 'DELETE',
				success: () => {
					var new_avatar = $("#avatar_file_field");
					new_avatar.replaceWith( new_avatar.val('').clone( true ) );
					$("#upload_preview").replaceWith('#{image_tag @user.avatar.url, class: "image-size", id: "upload_preview"}');
				}
			})
			
		});
	});
</script>