<div class='row m70'>
    <div class='col-lg-3'>
        <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <div class="panel">
                <div class="panel-body">
                    <div class='row pb20'>
                        <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                            <%= avatar_for(@user, size: 100, id: "upload_preview") %>
                        </div>
                        <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                            <p><%= @user.full_name %></p>                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class ='col-lg-9'>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class='row pb20'>
                    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                        <div class="panel">
                            <div class="panel-heading"><h5><%= @user.full_name %></h5></div>
                            <div class="panel-body">
                            </div>
                        </div>
                    </div>
                </div>
                <div class='row pb20'>
                    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                        <div class='panel'>
                        <div class="panel-heading"><h5>Work Experience</h5></div>
                            <%= react_component 'WorkExperience' %>
                        </div>                
                    </div>
                </div>
                <div class='row pb20'>
                    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                        <div class='panel'>
                        <div class="panel-heading"><h5>Education Attainment</h5></div>
                            <%= react_component 'EducationBackground' %>
                        </div>                
                    </div>
                </div>
                <div class='row pb20'>
                    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                        <div class='panel'>
                        <div class="panel-heading"><h5>Skills</h5></div>
                            <%= react_component 'UserSkills' %>
                        </div>                
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
		function readURL(input) {
	    if (input.files && input.files[0]) {
	      var reader = new FileReader();

	      reader.onload = function (e) {
	      	$('#upload_preview').attr('src', e.target.result);
	      }

	      reader.readAsDataURL(input.files[0]);
	    }
		}

		$("#avatar_file_field").change(function(){
			readURL(this);
		});

		$("#remove-avatar").on('click', function (e) {
			e.preventDefault();
			$.ajax({
				url: '#{api_delete_avatar_path}',
				method: 'DELETE',
				success: () => {
					var new_avatar = $("#avatar_file_field");
					new_avatar.replaceWith( new_avatar.val('').clone( true ) );
					$("#upload_preview").replaceWith('#{image_tag @user.avatar.url, class: "image-size", id: "upload_preview"}');
				}
			})
			
		});
	});
</script>