<fieldset>
    <div class="panel-body">
        <div>   
            <%= f.hidden_field :password, value: 'password123' %>
            <%= f.hidden_field :role, value: 'company_admin' %>
        </div>
        <div class='row pb20'>
            <div class="col-lg-12">
                <%= f.hidden_field :_destroy %>
                <%= link_to "remove", '#', class: "remove_fields" %>
            </div>
        </div>

        <div class="row pb20">
            <div class="col-lg-3">
                <%= f.label 'Admin Email', class: 'form-label ' %>
            </div>
            <div class="col-lg-9">
                <%= f.email_field :email, class: 'form-control company-input', placeholder: 'Email' %>
            </div>
        </div>
        <div class="row pb20">
            <div class="col-lg-3">
                <%= f.label 'First Name', class: 'form-label ' %>
            </div>
            <div class="col-lg-9">
                <%= f.text_field :first_name, class: 'form-control company-input', placeholder: 'First Name' %>
            </div>
        </div>
        <div class="row pb20">
            <div class="col-lg-3">
                <%= f.label 'Last Name', class: 'form-label ' %>
            </div>
            <div class="col-lg-9">
                <%= f.text_field :last_name, class: 'form-control company-input', placeholder: 'Last name' %>
            </div>
        </div>
        <div class="row pb20">
            <div class="col-lg-3">
                <%= f.label 'Admin Username', class: 'form-label ' %>
            </div>
            <div class="col-lg-9">
                <%= f.text_field :username, class: 'form-control company-input', placeholder: 'Username' %>
            </div>
        </div>

    </div>    
</fieldset>
