<fieldset>
    <div class="panel-body">   
        <%= f.hidden_field :_destroy %>
        <%= link_to "remove", '#', class: "remove_fields" %>

        <div class="row pb20">
            <div class="col-lg-3">
                <%= f.label 'Admin Email', class: 'form-label ' %>
            </div>
            <div class="col-lg-9">
                <%= f.email_field :email, class: 'form-control company-input', placeholder: 'Email' %>
            </div>
        </div>
        <div class="row pb20">
            <div class="col-lg-3">
                <%= f.label 'Admin Username', class: 'form-label ' %>
            </div>
            <div class="col-lg-9">
                <%= f.text_field :username, class: 'form-control company-input', placeholder: 'Username' %>
            </div>
        </div>

    </div>    
</fieldset>
