<nav class="navbar navbar-default">
  <div class='user-nav-container'>
    <% if current_user.employed? %>
      <%= link_to "#{current_user.company.name.upcase} <span class='gap1'>#{avatar_for_company(current_user.company, size: 40 )}</span>".html_safe, root_path, class: "navbar-brand" %>
    <% else %>
      <%= link_to "STAFFING BOT", root_path, class: "navbar-brand" %>
    <% end %>
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    
       
      <!-- Collect the nav links, forms, and other content for toggling -->
      
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user && current_user.role == 'applicant' %>
          <li class="main-searchbar">
            <%= react_component('SearchContainer') %>
          </li>
        <% end %>
        <li><a href="/" class='menu-link'>Notifications </a></li>
        <li class="dropdown">

          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.full_name %><span class='gap1'></span><img src="<%= current_user.avatar.url %>" class="avatar-image" height="25px" width="25px"> <span class="caret"></span></a>
          
          <ul class="dropdown-menu with-timelog">
            <li class='dropdownlink'><%= link_to 'My Profile', profile_path(current_user) %></li>
            <li role="separator" class="divider"></li>
            <li class='dropdownlink'><%= link_to('Settings', edit_user_registration_path) %></li>
            <li role="separator" class="divider"></li>
            <li class='dropdownlink'><%= link_to('Log Out', destroy_user_session_path, method: :delete) %></li>
          </ul>
            
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>