<div class="row">    
    <div class='sidebar'>
        <ul>
            <li id="toggle-btn"><button class='sidebar-btn'><span></span></button></li>
            <li class="<%= which_link?('pages')%>"><%= link_to '<i class="fa fa-tachometer fa-lg" aria-hidden="true"><span>Dashboard</span></i>'.html_safe, root_path, class: 'menu-link' %></li>
            <li class="<%= which_link?('clients')%>"><%= link_to '<i class="fa fa-list-alt fa-lg" aria-hidden="true"><span>Companies</span></i>'.html_safe, clients_path, class: 'menu-link' %></li>
            <li class="<%= which_link?('inquiries')%>"><%= link_to '<i class="fa fa-info fa-lg" aria-hidden="true"><span>Inquiries</span></i>'.html_safe, inquiries_path, class: 'menu-link' %></li>
        </ul>
    </div>
</div>